---
layout: default
---

<div class="home">

  {% if site.theme.header_text %}
  <div class="call-out">{{ site.theme.header_text }}</div>
  {% endif %}

  <div class="posts">
    {% for post in paginator.posts %}
    <div class="post-teaser">
    
      <header>
        <h1>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>
        
        <p class="meta">
      <!-- Whitespace added for readability -->
      {% assign m = page.date | date: "%-m" %}
      {{ page.date | date: "%-d" }}
      {% case m %}
      {% when '1' %}de Janeiro de
      {% when '2' %}de Fevereiro de
      {% when '3' %}de Março de
      {% when '4' %}de Abril de
      {% when '5' %}de Maio de
      {% when '6' %}de Junho de
      {% when '7' %}de Julho de
      {% when '8' %}de Agosto de
      {% when '9' %}de Setembro de
      {% when '10' %}de Outubro de
      {% when '11' %}de Novembro de
      {% when '12' %}de Dezembro de
      {% endcase %}
      {{ page.date | date: "%Y" }}
    {% if page.author %} - {{ page.author }}{% endif %}
        </p>
      </header>

      <div class="excerpt">
        {{ post.excerpt }}

        <a class="button" href="{{ post.url | prepend: site.baseurl }}">{{ site.theme.str_continue_reading }}</a>
      </div>
      
    </div>
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
  
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      <i class="fa fa-chevron-left"></i> 
      {{ site.theme.str_prev }}
    </a>
    {% endif %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      {{ site.theme.str_next }} 
      <i class="fa fa-chevron-right"></i>
    </a>
    {% endif %}
  </div>
  {% endif %}
</div>
