---
layout: default
---
<article {% if page.feature-img %}class="feature-image"{% endif %}>

  <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 class="title">{{ page.title }}</h1>
    
    <p class="meta">
      <!-- Whitespace added for readability -->
      {% assign m = page.date | date: "%-m" %}
      {{ page.date | date: "%-d" }}
      {% case m %}
      {% when '1' %}de Janeiro de
      {% when '2' %}de Fevereiro de
      {% when '3' %}de Março de
      {% when '4' %}de Abril de
      {% when '5' %}de Maio de
      {% when '6' %}de Junho de
      {% when '7' %}de Julho de
      {% when '8' %}de Agosto de
      {% when '9' %}de Setembro de
      {% when '10' %}de Outubro de
      {% when '11' %}de Novembro de
      {% when '12' %}de Dezembro de
      {% endcase %}
      {{ page.date | date: "%Y" }}
    {% if page.author %} - {{ page.author }}{% endif %}
    </p>
  </header>

  <section class="post-content">
    {{ content }}
  </section>
  
</article>

<!-- Disqus -->
{% if site.theme.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}
